<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>538997176638-s4tb82si2k74338pqv3goercif2oof1h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538997176638-s4tb82si2k74338pqv3goercif2oof1h</string>
	<key>API_KEY</key>
	<string>AIzaSyAseaRnNB5eHHa8Nm_LTB_duv-8EFfxa4c</string>
	<key>GCM_SENDER_ID</key>
	<string>538997176638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTemplate</string>
	<key>PROJECT_ID</key>
	<string>test-6f72e</string>
	<key>STORAGE_BUCKET</key>
	<string>test-6f72e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538997176638:ios:5fb66a57fd75f8549cd46f</string>
</dict>
</plist>